src/main/java/unmarshalling/report1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="people" type="peopleType"/>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="xs:string" name="sipcode" minOccurs="0"/>
      <xs:element name="zipcode" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="8867"/>
            <xs:enumeration value="0977"/>
            <xs:enumeration value="2334"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="personType">
    <xs:sequence>
      <xs:element type="xs:string" name="uuid" minOccurs="0"/>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Ivan"/>
            <xs:enumeration value="David"/>
            <xs:enumeration value="Michell"/>
            <xs:enumeration value="Katya"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="cityType" name="city"/>
      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="24"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="peopleType">
    <xs:sequence>
      <xs:element type="personType" name="person" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>